<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edge detector</title>
</head>
<body>
    <h1>Hello</h1>
    <form action="/edge_detection" method="post">
        <input type="file" name="img" id="">
        <!-- <input type="button" value=""> -->
        <label for="algorithm">Choose Edge detection technique</label>
        <select name="algorithm" id="">
            <option value="sobel_x">SOBEL_X</option>
            <option value="sobel_y">SOBEL_Y</option>
            <option value="sobel_xy">SOBEL_XY</option>
            <option value="laplacian">LAPLACIAN</option>
            <option value="canny">CANNY EDGE</option>
          </select>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>